<%#
  Copyright 2019 Jen Zajac (jenofdoom)
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>
  Reserve Membership
</h1>

<div class="container text-center">
  <div class="row d-flex align-items-stretch">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <p>
          Pre-convention attending memberships sales are closed. Attending memberships will be available at the
          convention registration desk.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row d-flex align-items-stretch">
    <% @offers.each do |offer| %>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <%= render("offer_card", offer: offer) do %>
          <% if offer.offer_for_purchase? %>
            <%= link_to(
              "Reserve #{offer.membership}",
              new_reservation_path(offer: offer.hash),
              class: %w(btn btn-lg btn-block btn-primary),
            ) %>
          <% else %>
            <button class="clipboard-btn btn btn-lg btn-block btn-primary"
                    data-clipboard-action="copy"
                    data-clipboard-text="<%= new_reservation_url(offer: offer.hash) %>">
              Copy URL
            </button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @expired.present? %>
    <h2>Expired Membership Types</h2>
    <div class="row d-flex align-items-stretch">
      <% @expired.each do |membership| %>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <%= render("membership_card", membership: membership) do %>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
  <% if @upcoming.present? %>
    <h2>Upcoming Membership Types</h2>
    <div class="row d-flex align-items-stretch">
      <% @upcoming.each do |membership| %>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <%= render("membership_card", membership: membership) do %>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
