<%#
  Copyright 2020 Victoria E. Garcia

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>

<h1 style="background-color:purple; color:crimson">Shopping Cart</h1>
<section style="background-color:violet; color:aquamarine" class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
      </div>
      <h3 style="color:olive">[This is where the stuff in the cart will go]</h3>


      <% if @cart.cart_items.count > 0 %>
        <div class="cart-contents">
          <ul class="cart-items-now">
            <% cart_items_for_now(@cart).each_with_index do |i, cart_item| %>
              <li>
                <div class="now-item-details">
                  <%#

                      THIS LIST-GROUP WILL HAVE LINKS TO THE SHOW-PAGES FOR THE RELEVANT ELEMENTS, WHICH
                      IN TURN WILL HAVE EDITING PAGES

                      THINKING I'M GOING TO TRY AND MAKE THE EDITING PAGES WORK AS COLLAPSIBLE ELEMENTS.
                  %>
                  <div class="list-group list-group-horizontal now-details-list">
                    <li class="list-group-item list-group-item-action"><%=cart_item.type %></li>
                    <li class="list-group-item list-group-item-action"><%= cart_item.item_name %></li>
                    <li class="list-group-item list-group-item-action"><%= cart_item.item_recipient %></li>
                    <li class="list-group-item list-group-item-action"><%= cart_item.item_display_price %></li>
                  </div>
                  <div class="btn-group now-buttons" role="group">
                    <%= button_to "Save for Later", {:action =>"save_item_for_later", :controller => "cart", id: cart_item.id }, method: :patch, class: "btn btn-outline-info" %>
                    <%= button_to "Remove from Cart", {:action =>"remove_single_item", :controller => "cart", id: cart_item.id }, method: :delete, class: "btn btn-outline-info" %>
                    <%= button_to "Check Availability", {:action =>"verify_single_item_availability", :controller => "cart", id: cart_item.id }, method: :patch, class: "btn btn-outline-info" %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="subtotal-container">
            <div class="btn-group payment-buttons" role="group">
              <%= button_to "Pay Online Now", {:action =>"submit_online_payment", :controller => "cart", id: cart_item.id }, method: :post, class: "btn btn-outline-primary" %>
              <%= button_to "Pay with Check", {:action =>"submit_check_payment", :controller => "cart", id: cart_item.id }, method: :post, class: "btn btn-outline-primary" %>
              <%= button_to "Save All Items for Later", {:action =>"save_all_items_for_later", :controller => "cart", id: cart_item.id }, method: :patch, class: "btn btn-outline-warning" %>
              <%= button_to "Clear All Active Items", {:action =>"clear_all_active_items", :controller => "cart", id: cart_item.id }, method: :delete, class: "btn btn-outline-warning" %>
            </div>
          </div>
          <ul class "cart-items-later">
            <% cart_items_for_now(@cart).each_with_index do |i, cart_item| %>
            <li>
                <div class="later-item-details">
                  <%#
                      TODO:

                      AS WITH ITS COUNTERPART ABOVE, THIS LIST-GROUP WILL HAVE LINKS TO THE
                      SHOW-PAGES FOR THE RELEVANT ELEMENTS, WHICH IN TURN WILL HAVE EDITING PAGES
                  %>
                  <div class="list-group list-group-horizontal later-item-details-list">
                    <li class="list-group-item list-group-item-action"><%=cart_item.type %></li>
                    <li class="list-group-item list-group-item-action"><%= cart_item.item_name %></li>
                    <li class="list-group-item list-group-item-action"><%= cart_item.item_recipient%></li>
                    <li class="list-group-item list-group-item-action"><%= cart_item.item_display_price %></li>
                  </div>
                  <div class="btn-group later-buttons" role="group">
                    <%= button_to "Move to Cart", {:action =>"move-item-to-cart", :controller => "cart", id: cart_item.id }, method: :patch, class: "btn btn-outline-info" %>
                    <%= button_to "Delete", {:action =>"remove_single_item", :controller => "cart", id: cart_item.id }, method: :delete, class: "btn btn-outline-info" %>
                    <%= button_to "Check Availability", {:action =>"verify_single_item_availability", :controller => "cart", id: cart_item.id }, method: :patch, class: "btn btn-outline-info" %>
                  </div>
                </div>
              </li>
            <%= end %>
          </ul>
          <div class="saved-admin-container">
            <div class="btn-group later-buttons" role="group">
              <%= button_to "Move All Items to Cart", {:action =>"move_all_saved_items_to_cart", :controller => "cart", id: cart_item.id }, method: :patch, class: "btn btn-outline-warning" %>
              <%= button_to "Delete All Saved Items", {:action =>"remove_all_active_items", :controller => "cart", id: cart_item.id }, method: :delete, class: "btn btn-outline-warning" %>
            </div>
          </div>
      </div>
      <% else %>
        <h4> Your cart is empty! </h4>
      <% end %>
    </div>
  </div>
</section>
