<%#
  Copyright 2020 Victoria E. Garcia

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  TODO: figure out if we need to disable some or all buttons for  unavailable items.
%>

<h1 style="background-color:purple; color:cyan">SHOPPING CART</h1>
<div class="container text-center">
  <% if @now_bin.present? || @later_bin.present? %>
    <h2 style=
    "color:yellow">Items to Purchase Now:</h2>

    <% if @now_bin.present? %>
      <div class="now-items" style="background-color:violet">


        <div class="row d-inline-flex align-items-stretch">
          <% @now_bin.each do |cart_item| %>
            <div class="row row-cols-auto mb-3 ml-2" style="background-color:violet">
              <%= render("cart_item_card", cart_item: cart_item, admin_buttons: add_admin_buttons(cart_item))%>
            </div>
          <% end %>
        </div>

        <div class="active-admin-container">
          <div class="btn-group payment-buttons" role="group">
            <% if cart_contents_ready_for_payment?(@shopping_cart, now_items_only: true) %>
              <%= button_to "Pay Online Now", cart_preview_online_purchase_path, method: :get, class: "btn btn-outline-primary" %>
              <%= button_to "Pay with Check", cart_pay_with_cheque_path, method: :post, class: "btn btn-outline-primary" %>
              <% end %>
            <%= button_to "Save All Items for Later", cart_save_all_path, method: :patch, class: "btn btn-outline-warning" %>
            <%= button_to "Clear All Active Items", cart_clear_all_active_path, method: :delete, class: "btn btn-outline-warning" %>
          </div>
          <div class="subtotal-container" style="background-color:darkorange">
            <h5 style="color:indigo"> Cart Subtotal: <%= @now_subtotal %></h5>
          </div>
        </div>
      </div>
    <% else %>
      <h4 style="color:chocolate"> All your items are saved for later.  </h4>
    <% end %>

    <% if @later_bin.present? %>
      <h2 style="color:maroon">Items Saved for Later:</h2>
      <div class="later-items" style="background-color:thistle">
        <div class="row d-inline-flex align-items-stretch">
          <% @later_bin.each do |later_item| %>
            <div class="row row-cols-auto mb-3 ml-2" style="background-color:darkslategray">
              <%= render("cart_item_card", cart_item: later_item, admin_buttons: add_admin_buttons(later_item)) %>
            </div>
          <% end %>
        </div>

        <div class="btn-group later-buttons" role="group">
          <%= button_to "Move All Items to Cart", cart_activate_all_path, method: :patch, class: "btn btn-outline-warning" %>
          <%= button_to "Delete All Saved Items", cart_clear_all_saved_path, method: :delete, class: "btn btn-outline-warning" %>
        </div>
      </div>
    <% end %>


    <div class="all-cart-admin-container" style="background-color:mediumvioletred">
      <div class="btn-group overall-buttons" role="group">
        <%= button_to "Check Availability of All Items", cart_verify_all_path, method: :patch, class: "btn btn-outline-warning" %>
        <%= button_to "Delete All Cart Contents", cart_empty_path, method: :delete, class: "btn btn-outline-warning" %>
      </div>
    </div>

  <% else %>
    <h4 style="background-color:lightsteelblue; color:olive"> Your cart is empty! </h4>
  <% end %>
</div>
