<%
# Copyright 2021 Victoria Garcia
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the fLicense is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>

<h1 style="color:cyan">
  Purchase Preview (<%= @items_for_purchase.count %> items)
</h1>

<section class="l-section">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <%= form_tag(cart_pay_online_path, "id" => "cart-charge-preview-form") do %>
          <article>
            <div id="error_explanation"></div>
            <h2>
              The total due for this order is  <%= @expected_charge %>.
            </h2>
          </article>
          <div class="l-v-spacing-both">
            <div class="form-group">
              <div class="btn-group w-100">
                <%= submit_tag("Reserve and Pay Online Now", id: "cart-proceed-to-pay-button", class: "btn btn-m-full-width") %>
                <% if @check_and_installment_buttons %>
                  <div class="col"><input type="submit" value="Reserve and Pay with Cheque" class="btn" formaction="<%= cart_pay_with_cheque_path %>"></div>

                  <div class="col"><input type="submit" value="Reserve and Pay in Installments" class="btn" formaction="<%= cart_installments_path %>"></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="l-v-spacing">
        <% @items_for_purchase.each do |cart_item| %>
          <%= render("cart_item_card", cart_item: cart_item) %>
            <div class="btn-group checkout-item-buttons" role="group">
              <%= button_to "Delete", remove_single_checkout_cart_item_path(cart_item), method: :delete, class: "btn btn-outline-info" %>
              <%= button_to "Save for Later", save_single_checkout_cart_item_path(cart_item), method: :patch, class: "btn btn-outline-info" %>
              <%= button_to "Check Availability", availability_for_single_checkout_cart_item_path(cart_item), method: :patch, class: "btn btn-outline-info" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
