<%#
Copyright 2020 Matthew B. Gray
Copyright 2020 Victoria Garcia

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<p>
  <% if @reservations.count == 1 %>
    Greetings, <%= @reservations.first.active_claim.contact %>!
  <% else %>
    Greetings, Chicon 8 member!
  <% end %>
</p>

<p>
  Nominations for the <%= @worldcon_year %> Hugo Awards are now open and will remain
  open until <%= @hugo_nom_deadline %>. Nominations for the Lodestar Award for Best
  Young Adult Book and the <em>Astounding</em> Award for Best New Writer are also open.
</p>

<p>
  All <%= @previous_worldcon_public_name %> members and <%= @worldcon_public_name %> 
  supporting and attending members who are registered before 11:59 p.m. Pacific Standard
  Time (PST) on 31 January 2022 are eligible to nominate.
</p>

<% if @reservations.count > 1 %>
  <p>
    Your email address has multiple memberships associated with it.
    Please note that because voting is linked to your email address, everyone whose
    memberships are linked to this email address will be able to access and change
    nominations for all those memberships. To prevent this, we recommend that you
    transfer excess memberships to their own email addresses if possible. To do so,
    please send an email to

    <%= link_to($member_services_email, "mailto:#{$member_services_email}") %>

    with details on which membership you want to transfer, and the email
    address of the person to which it should be transferred. We recognize that
    this is not always possible. If you have multiple memberships under your
    email address, please remember that Hugo voting and nominating rights are
    attached to a person NOT a membership, so you should only nominate once,
    for your own membership.
  </p>
<% end %>
<% if @additional_email_addresses.size > 0 %>
  <p>
    Your account has multiple contact emails associated with it and the members,
    and so this email has been sent to all emails connected with your account.
  </p>
<% end %>

<p>
  To access the nomination portal, please visit <%= link_to($hostname, $hosturl) %>. Then, 
  follow these steps:
  1. Enter the address this email was sent to and request sending a login link to you.
  2. Click your login link in the email just sent and enter the Members' Area.
  3. Select 'My Memberships' to access all memberships linked with that email address.
  4. Then, select 'Nominate for Hugo Awards' under the appropriate membership.
  5. You will then see instructions for completing the nomination ballot. You must agree to 
  the terms by typing the full name associated with the membership into a confirmation box 
  before you can begin entering your nominations.
</p>

<p>
  Printable versions of the WSFS Constitution and Hugo Award nominating ballot are available 
  to download here: <%= link_to("https://chicon.org/home/whats-happening/hugo-awards/", 
  https://chicon.org/home/whats-happening/hugo-awards/) %>.
</p>

<p>
  For more information about nominating, please visit <%= link_to("https://chicon.org/home/whats-happening/hugo-awards/", 
  https://chicon.org/home/whats-happening/hugo-awards/) %> or email <a href="<%= @mailto_hugo_help %>"><%= @hugo_help_email %></a>
</p>

<p>
  We expect to announce the final ballot in <%= @hugo_ballot_pub_month %>, and the awards will be
  presented at <%= @worldcon_public_name %>, which will run from <%= @start_day_informal %> to <%= @end_day_informal %>, <%= @worldcon_year %>.
</p>
 
<p>
  We look forward to your participation in the <%= @worldcon_year %> Hugo Awards, and hope to see you at <%= @worldcon_public_name %>!
</p>

<%# TODO: Deal with organizer names %>
<p>
  <%= @organizers_names_for_signature %> <br>
  Hugo Administrator and Deputy Hugo Administrator
</p>


<%# TODO: Deal with the stuff about progress reporting %>
