<%#
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>
  <% if @details.count == 1 %>
    <%= worldcon_greeting_init_caps %> <%= @details.first %>!
  <% else %>
    <%= worldcon_greeting_init_caps %>
  <% end %>
</p>

<p>
  Hello eligible Hugo nominator! The deadline for Hugo nominations is just about
  3 days away. Please do not wait until the last minute to start your nominations
  - sometimes there are hiccups in the login process, and it can take our team
  some time to fix those for you. So if you plan to nominate and have not logged
  in and accessed the nomination form yet, please do so ASAP. The deadline for
  nominations is <%= hugo_nom_deadline %>.
</p>

<p>
  To nominate online, please visit
  <a href=<%= member_login_url %>>the members' area</a>
  enter the email address
  you received this email at, and request a login link. After clicking the link
  and entering the members area, click on My Memberships to access all
  memberships linked with that email address. Then click the nominating links on
  your membership.
</p>

<p>
  You can make up to five nominations in each category. Be sure to hit the save
  button once you have made your nominations. You can save each category
  individually, or save them all at once using the button at the bottom of the
  ballot. You can make as many changes as you like to your nomination ballots
  until the deadline. Your current ballot will be emailed to you an hour after
  you stop making changes to it.
</p>

<p>
  We expect to announce the final ballot in early <%= hugo_ballot_pub_month %>, and the awards will be
  presented at <%= worldcon_public_name %>, which will run from <%= start_day_informal %> to <%= end_day_informal %>, <%= worldcon_year %>.
</p>

<p>
  The Hugo Awards are fan-run, fan-given, and fan-supported. We recommend that
  you nominate whatever works and creators you have personally read or seen that
  were your favorites from <%= worldcon_year_before %> and <%= (retro_hugo_75_ago.to_i - 1).to_s %>
</p>

<p>
  Please contact <%= email_hugo_help %> if you have difficulties accessing the
  online ballot(s), or you have any other questions on the Hugo process.
</p>

<p>
  A printable version of the WSFS Constitution and Hugo Nominating ballot has
  been included in the mailed-out version of Progress Report 2. You may also
  download a printable ballot in
  <a href=<%= hugo_ballot_download_a4 %>>A4</a>,
  or
  <a href=<%= hugo_ballot_download_letter %>>US letter</a>
  sizes. The WSFS Constitution is also available online
  <a href=<%= wsfs_constitution_link %>>here</a>.
</p>

<p>
  We look forward to your participation in the <%= worldcon_year %> Hugo Awards and <%= retro_hugo_75_ago %> Retro
  Hugos, and hope to see you at <%= worldcon_public_name %>!
</p>

<p>
  <%= organizers_names_for_signature %><br>
  Hugo Administrator and Deputy Hugo Administrators
</p>
