<%#
  Copyright 2020 Matthew B. Gray
  Copyright 2020 Victoria Garcia
  Copyright 2021 Fred Bauer

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>
  <%= @worldcon_greeting_sentence_excited %>
  <% if @reservations.count == 1 %>
    <%= @reservations.first.active_claim.contact %>
  <% end %>
</p>

<p>
  We are very glad to be able to tell you that nominations for the <%= @worldcon_year %> Hugo
  Awards!
</p>

<p>
  As a member of <%= @worldcon_public_name %>, you are eligible to nominate in the 17 Hugo ballot
  categories covering the best of the genre in the last year, for the Lodestar
  Award for Best Young Adult Book, the <em>Astounding</em> Award for Best New Writer
  (formerly known as the John W. Campbell Award).
</p>

<p>
  To nominate online, please visit <%= link_to($hostname, $hosturl) %>,
  enter the email address you received this email at, and request a login link.
  After clicking the link and entering the members area, click on My Memberships
  to access all memberships linked with that email address. Then
  click the nominating links on your membership.
</p>

<% if @reservations.count > 1 %>
  <p>
    Please note that because voting is linked to your email address, everyone whose
    memberships are linked to this email address will be able to access and change
    nominations for all those memberships. To prevent this, we recommend that you
    transfer excess memberships to their own email addresses if possible. To do so,
    please send an email to

    <%= link_to($member_services_email, "mailto:#{$member_services_email}") %>

    with details on which membership you want to transfer, and the email
    address of the person to which it should be transferred. We recognize that
    this is not always possible. If you have multiple memberships under your
    email address, please remember that Hugo voting and nominating rights are
    attached to a person NOT a membership, so you should only nominate once,
    for your own membership.

  </p>
<% end %>
<p>
  You can make up to five nominations in each category. Be sure to hit the save
  button once you have made your nominations. You can save each category
  individually, or save them all at once using the button at the bottom of the
  ballot. You can make as many changes as you like to your nomination ballots
  until the deadline. Your current ballot will be emailed to you an hour after
  you stop making changes to it.
</p>

<p>
  The deadline for nominations is <%= @hugo_nom_deadline %>. Although members of <%= @previous_worldcon_public_name %> <%= @worldcon_year_before %> can nominate, only members of
  <%= @worldcon_public_name %> will be eligible to vote on the final ballot and choose the winners
  of the <%= @worldcon_year %> Hugo, Lodestar and <em>Astounding</em> Awards and the <%= @retro_hugo_75_ago %> Retro Hugo
  Awards.
</p>

<p>
  We expect to announce the final ballot in early <%= @hugo_ballot_pub_month %>, and the awards will be
  presented at <%= @worldcon_public_name %>, which will run from <%= @start_day_informal %> to <%= @end_day_informal %>, <%= @worldcon_year %>.
</p>

<p>
  The Hugo Awards are fan-run, fan-given, and fan-supported. We recommend that
  you nominate whatever works and creators you have personally read or seen that
  were your favorites from  <%= @worldcon_year_before %> and  <%= (@retro_hugo_75_ago.to_i - 1).to_s %>.
</p>


<p>
  Please contact
  <a href="<%= @mailto_hugo_help %>"><%= @hugo_help_email %></a>
  if you have difficulties accessing the online ballot(s), or you have any
  other questions on the Hugo process.
</p>

<%# TODO: Deal with the stuff about progress reporting %>
<p>
  A printable version of the WSFS Constitution and Hugo Nominating ballot has
  been included in the mailed-out version of Progress Report 2. You may also
  download a printable ballot in

  <%=
    link_to(
      "A4",
      @hugo_ballot_download_a4,
    )
  %>,

  or
  <%=
    link_to(
      "US letter",
      @hugo_ballot_download_letter,
    )
  %> sizes.

  The WSFS Constitution is also available online
  <%= link_to("here", @wsfs_constitution_link) %>.
</p>

<p>
  We look forward to your participation in the <%= @worldcon_year %> Hugo Awards and <%= @retro_hugo_75_ago %> Retro
  Hugos, and hope to see you at <%= @worldcon_public_name %>!
</p>

<%# TODO: Deal with organizer names %>
<p>
  <%= @organizers_names_for_signature %> <br>
  Administrator and Deputy Hugo Administrators
</p>
