<%#
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p><%= @worldcon_basic_greeting.capitalize %> <%= @detail %>,</p>

<p>
Thank you for your nominations for the <%= @worldcon_year %> Hugo Awards, Lodestar Award, <em>Astounding</em> Award
  and the <%= @retro_hugo_year %> Retro Hugo Awards.
</p>

<% if !@nominations_by_category.present? %>
  <p>
    Your ballot is currently empty.
  </p>
<% else %>
  <p>
    Below is a summary of your current nominating ballot:
  </p>

  <% @nominations_by_category.each do |category, nominations| %>
    <p><%= category %></p>
    <ul>
      <% nominations.select(&:persisted?).each do |nomination| %>
        <li><%= nomination %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<p>
  The deadline for nominations is 13 March 2020 at 11:59pm Pacific Daylight Time (2:59 am Eastern Daylight Time, 06:59
  Irish time, and 8:59 pm 14 March 2020 New Zealand time).

  Although members of <%= @previous_worldcon_public_name %>  <%= @worldcon_year_before  %> can nominate, only members of <%= @worldcon_public_name %> will be eligible to vote on the final ballot
  and choose the winners of the <%= @worldcon_year %> Hugo, Lodestar and <em>Astounding</em> Awards and the <%= @retro_hugo_75_ago %> Retro Hugo Awards.
</p>

<p>
  To change your nominations online, please visit <%= link_to($hostname, $hosturl) %>,
  click on My Memberships to access all memberships linked with that email address.
  Then click the nominating links on your membership.
</p>

<p>
  We look forward to your participation in the <%= @worldcon_year %> Hugo Awards and <%= @retro_hugo_75_ago %> Retro Hugos, and hope to see you at <%= @worldcon_public_name %>!
</p>

<p>
  <%= @organizers_names_for_signature %></br>
  Hugo Administrator and Deputy Hugo Administrators
</p>
