<%#
  Copyright 2019 Matthew B. Gray

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<h1>Kiosk: Next Steps</h1>

<section>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="l-panel">
        <%= render "reservation_card", reservation: @reservation %>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <p>
          Congratulations! You've just reserved a <%= @reservation.membership %> membership and it's currently held by
          <%= link_to $member_services_email, "mailto:#{$member_services_email}" %>.
        </p>

        <p>
          Ask one of our helpers to <strong>transfer this membership to an email address you control</strong> to be able
          to access it through the members website in the future.
        </p>

        <p>
          Make sure you create a down payment towards this membership in order to keep it. You can either do this
          by credit card on this device, or by approaching one of our friendly helpers to pay with Cash or Cheque.
        </p>

        <p><%= link_to "Pay with credit card", new_kiosk_reservation_charge_path(reservation: @reservation) %></p>

        <p><%= link_to "Close tab and pay by cash or cheque", "#", class: "close-window" %></p>

        <p><%= link_to "Close this tab", "#", class: "close-window" %></p>
      </div>
    </div>
  </div>
</div>
