
<div class="form-options">
  <%= contact_form.check_box(:interest_volunteering, class: "form-control form-control-m-checkbox", id: "interest_volunteering") %>
  <label for="interest_volunteering">I am interested in volunteering before or at the convention</label>
</div>

<div class="form-options">
  <%= contact_form.check_box(:interest_being_on_program, class: "form-control form-control-m-checkbox", id: "interest_being_on_program") %>
  <label for="interest_being_on_program">I am interested in being a program participant</label>
</div>

<div class="form-options">
  <%= contact_form.check_box(:interest_dealers, class: "form-control form-control-m-checkbox", id: "interest_dealers") %>
  <label for="interest_dealers">I am interested in vending in the Dealers Room</label>
</div>

<div class="form-options">
  <%= contact_form.check_box(:interest_selling_at_art_show, class: "form-control form-control-m-checkbox", id: "interest_selling_at_art_show") %>
  <label for="interest_selling_at_art_show">I am interested in selling my art in the art show</label>
</div>

<div class="form-options">
  <%= contact_form.check_box(:interest_exhibiting, class: "form-control form-control-m-checkbox", id: "interest_exhibiting") %>
  <label for="interest_exhibiting">I am interested in exhibiting at the convention</label>
</div>

<div class="form-options">
  <%= contact_form.check_box(:interest_performing, class: "form-control form-control-m-checkbox", id: "interest_performing") %>
  <label for="interest_performing">I am interested in performing at the convention</label>
</div>
