<%
# Copyright 2021 Chris Rose
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
%>
<% if @destination %>
  <p>Thank you for signing in! Please proceed to <a href="<%= @destination %>"><%= @destination %></a> to continue.</p>
<% else %>
  <%= form_with method: :get do |f| %>
  <div class="form-group">
    <%= f.label :shortcode, "Six-digit login token" %>
    <%= f.text_field :shortcode, class: "input-pincode" %>
    <%= f.submit "Login with code", class: "btn" %>
  </div>

  <p>
    Please enter the token you received in the login email. It will expire 10 minutes after we sent it, so please be
    speedy.
  </p>
<% end %>
<% end %>
