<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>Nominate for the Hugo Awards</h1>
<div class="container">
  <div class="row d-flex align-items-stretch">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="l-panel l-panel-m-membership-types">
          <% Category.find_each do |category| %>
            <h2 class="h3-like"><%= category.name %></h2>

            <fieldset class="l-v-spacing">
              <p class="form-note form-note-m-group">
                <%= category.description %>
              </p>

              <div class="form-group">
                <% 5.times do |i| %>
                  <label for="book_title">Nomination <%= i + 1 %></label>
                  <%= text_field(:book_title, class: "form-control", id: "book_title") %>
                  <%# <% if errors = form_input_errors(@detail, :book_title) %1> %>
                  <%#   <p class="form-error"><%= errors %1></p> %>
                  <%# <% end %1> %>
                <% end %>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="l-v-spacing">
          <%= render("reservation_card", reservation: @reservation) do %>
            <% show_links(@reservation).each do |link| %>
              <p><%= link %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
