<%#
  Copyright 2019 AJ Esler
  Copyright 2020 Matthew B. Gray
  Copyright 2021 Gted Bauer
  Licensed under the Apache License, Version 2.0 (the "License");

24-May-21 FNB updated to use light/dark specific SCSS

This displayes the Membership information for a users RESERVED memberships
%>

<div class="card <%= card_classes(reservation) %>">
  <div class="card-body">
    <h5 class="card-title">
      #<%= reservation.membership_number %>

      <% if contact = reservation.active_claim.contact %>
        <%= contact %>
      <% end %>
    </h5>

    <p class="card-text">
      <%= reservation.membership %> Membership
    </p>

    <% if reservation.instalment? %>
      <p>Reserved, but not fully paid</p>
      <p><%= amount_to_pay(reservation) %></p>
    <% end %>
    <% virtual_con = (worldcon_year == "2020") ? "the interactive virtual" : "" %>

    <% if reservation.paid? || reservation.has_paid_supporting? %>
      <p><%= t("rights.description") %></p>
      <% reservation.active_rights.each do |membership_right| %>
        <p>
          <%= raw membership_right_description(membership_right, reservation) %>
          <i class="far fa-question-circle"
            title="<%= t(:layman, scope: membership_right, worldcon_public_name: worldcon_public_name, hugo_help_email: email_hugo_help, mailto_hugo_help: mailto_hugo_help) %>"
            data-toggle="tooltip"
            aria-label="More information"
            height="15px"
            data-html="true"
            data-placement="right"
          ></i>
        </p>
      <% end %>
      <%#<p>Access Discord  </P>%>
    <% end %>

    <%= yield %>
  </div>
</div>
