<%#
Copyright 2019 AJ Esler
Copyright 2020 Matthew B. Gray
Copyright 2021 Chris Rose

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<div class="card <%= card_classes(reservation) %>">
  <div class="card-body">
    <h5 class="card-title">
      #<%= reservation.membership_number %>

      <% if contact = reservation.active_claim.contact %>
        <%= contact %>
      <% end %>
    </h5>

    <p class="card-text">
      <%= reservation.membership %> Membership
    </p>

    <% if reservation.disabled? %>
      <p>This Membership has been disabled and cannot be used to nominate, vote, or attend.</p>
      <p>If you believe this to be in error, please contact
        <a href="<%= @member_services_email %>"><%= @member_services_email %></a></p>
    <% else %>
      <% if reservation.instalment? %>
        <p>Reserved, but not fully paid</p>
        <p><%= amount_to_pay(reservation) %></p>
      <% end %>
      <% virtual_con = (worldcon_year == "2020") ? "the interactive virtual" : "" %>

      <% if reservation.paid? || reservation.has_paid_supporting? %>
        <p><%= t("rights.description") %></p>
        <% reservation.active_rights.each do |membership_right| %>
          <p>
            <%= raw membership_right_description(membership_right, reservation) %>
            <i class="far fa-question-circle"
               title="<%= t(:layman, scope: membership_right, worldcon_public_name: worldcon_public_name, hugo_help_email: email_hugo_help, mailto_hugo_help: mailto_hugo_help) %>"
               data-toggle="tooltip"
               aria-label="More information"
               height="15px"
               data-html="true"
               data-placement="right"
            ></i>
          </p>
        <% end %>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</div>
