<%#
  Copyright 2020 Steven Ensslen
  Copyright 2021 Fred Bauer

  Licensed under the Apache License, Version 2.0 (the "License");
  
<p><%=@worldcon_basic_greeting.capitalize %> <%= @detail %>.</p>

<p>Greetings <%= @detail%></p>
<p>
Thank you for voting in the 2021 Hugo Awards, Lodestar Award, 
and <em>Astounding</em> Award.
 </p>

<% if !@ranks.present? %>
  <p>
    Your ballot is currently empty.
  </p>
<% else %>
  <p>
    Below is a summary of your current voting ballot:
  </p>

    <% @ranks.each do |rank| %>
      <% if !@previous_category %>
        <p><%= rank.finalist.category.name %></p><ol>
      <% elsif rank.finalist.category.name != @previous_category %>
        </ol><p><%= rank.finalist.category.name %></p><ol>
      <% end %>
      <% @previous_category = rank.finalist.category.name %>
        <li> <%= raw rank.finalist.description %> </li>
    <% end %>
  </ol>
<% end %>


<p>
  The deadline for votes is <%= @hugo_vote_deadline %>.
<br>
 The deadline for voting is <%= localize($hugo_closed_at.in_time_zone("Pacific Time (US & Canada)"), :format => :long) %> Pacific Daylight Time
  (<%= localize($hugo_closed_at.in_time_zone("Eastern Time (US & Canada)"), :format => :short) %> Eastern Daylight Time,
  <%= localize($hugo_closed_at.in_time_zone("Europe/Dublin"), :format => :short) %> Irish time,
  and <%= localize($hugo_closed_at.in_time_zone("Wellington"), :format => :short) %> New Zealand time).
</p>


<p>
  To change your votes online, please visit <%= link_to($hostname, $hosturl) %>,
  click on My Memberships to access all memberships linked with that email address.
  Then click the voting links on your membership.
</p>

<p>
  We look forward to your participation in the 2021 Hugo Awards and <%= @retro_hugo_75_ago %> Retro Hugos, and hope to see you at <%= @worldcon_public_name %>
</p>

<p>
  <%= @organizers_names_for_signature %></br>
  Hugo Administrator and Deputy Hugo Administrators
</p>
