<%#
  Copyright 2020 Steven Ensslen

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p><%=@worldcon_basic_greeting.capitalize %> <%= @detail %>.</p>

<p>
Thank you for voting in the <%= @worldcon_year %> Hugo Awards, Lodestar Award and the <em>Astounding</em> Award.
</p>

<% if !@ranks.present? %>
  <p>
    Your ballot is currently empty.
  </p>
<% else %>
  <p>
    Below is a summary of your current voting ballot:
  </p>

    <% @ranks.each do |rank| %>
      <% if !@previous_category %>
        <p><%= rank.finalist.category.name %></p><ol>
      <% elsif rank.finalist.category.name != @previous_category %>
        </ol><p><%= rank.finalist.category.name %></p><ol>
      <% end %>
      <% @previous_category = rank.finalist.category.name %>
        <li> <%= rank.finalist.description %> </li>
    <% end %>
  </ol>
<% end %>


<p>
  The deadline for votes is <%= @hugo_vote_deadline %>.
</p>

<p>
  To change your votes online, please visit <%= reservation_finalists_url(@reservation) %>
</p>

<p>
  Thank you for to your participation in the <%= @worldcon_year %> Hugo Awards, and
  we hope to see you at <%= @worldcon_public_name %>!
</p>

<p>
  <%= @names_for_signature %><br/>
  Hugo Administrator and Deputy Hugo Administrators
</p>
