<!DOCTYPE html>

<%
=begin %>
  Copyright 2018 Rosanna Gray
  Copyright 2019 Matthew B. Gray
  Copyright 2019 Jen Zajac (jenofdoom)
  Copyright 2020, 2021 Victoria Garcia

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
<%
=end
%>

<html lang="en">
<head>
  <title><%= worldcon_public_name %> Registration</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= javascript_pack_tag "chicago-app" %>
  <%= stylesheet_pack_tag "chicago-app", media: "all" %>
  <%= favicon_pack_tag "favicons/Chicon8StandardFavicon.ico" %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= worldcon_public_name %>
  will be the <%= worldcon_number_digits_only.ordinalize %> World Science Fiction Convention.">
  <meta name="keywords" content="<%= worldcon_public_name.downcase %>,
   science fiction, convention, meet up, sci-fi" />
</head>

<body class="<%= "api-test-keys" if $stripe_test_keys %>">
  <% if support_signed_in? %>
    <div class="alert alert-danger show fixed-top" role="alert">
      NOTICE: You are logged in as support
      <%= button_to(
        "Logout of Support (#{current_support.email})",
        destroy_support_session_path,
        action: :delete, method: :delete, class: "button"
      ) %>
    </div>
  <% end %>

  <header>
    <div class="container l-v-spacing" role="banner">
      <a href="<%= root_path %>" class="logo">
        <%=
          image_pack_tag(
            "media/images/banners/WebHeaderTextTop2x.svg",
            alt: "Chicon 8 - The 80th World Science Fiction Convention",
            class: "img-responsive"
          )
        %>
      </a>
    </div>
    <div class="cart-icon container">
      <% if user_signed_in? && !support_signed_in? %>
        <%= link_to cart_path, method: :get do %>
          <button id="cart-icon">
            <%= show_svg('icons/cart4.svg') %>
          </button>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <%= render "layouts/alerts" %>
    </div>

    <%= render "/layouts/menu" %>
  </header>

  <div class="l-main" role="main">
    <div class="container l-wrapper">
      <%= yield %>
    </div>
  </div>

  <footer role="contentinfo">
    <div class="container l-wrapper">
      <p>Copyright (C) 2020 <%= worldcon_public_name %>. All rights reserved.</p>
      <p>"World Science Fiction Society", "WSFS", "World Science Fiction Convention", "Worldcon", "NASFiC", "Hugo Award", the Hugo Award Logo, and the distinctive design of the Hugo Award Trophy Rocket are service marks of the World Science Fiction Society, an unincorporated literary society.</p>
      <p>
        Contact <%= link_to $member_services_email, "mailto:#{$member_services_email}" %> for help with registration and this site.
      </p>
    </div>
  </footer>
</body>
</html>
