<!doctype html>

<%#
  Copyright 2018 Rosanna Gray
  Copyright 2020 Matthew B. Gray
  Copyright 2019 Jen Zajac (jenofdoom)
  Copyright 2020 Fred Bauer (DisCon III mods)

  Licensed under the Apache License, Version 2.0 (the "License"); See LICENCE file for details
%>

<html lang="en">
<head>
  <title>DisCon III</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# TODO move scripts to the bottom of <body> %>
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <%= javascript_pack_tag "dc-app" %>
  <%= stylesheet_pack_tag "dc-app", media: "all" %>

  <%=
    tag("link", {
      rel: "shortcut icon",
      type: "image/x-icon",
      href: resolve_path_to_image("media/images/favicons/dc-favicon.ico"),
    })
  %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= worldcon_public_name %>
  will be the <%= worldcon_number_digits_only.ordinalize %> World Science Fiction Convention.">
  <meta name="keywords" content="<%= worldcon_public_name.downcase %>,
   science fiction, convention, meet up, sci-fi" />
</head>

<body class="<%= "api-test-keys" if $stripe_test_keys %>">
  <%# TODO Style this to flash or something dramatic %>
  <% if support_signed_in? %>
    <div class="alert alert-danger show fixed-top" role="alert">
      NOTICE: You are logged in as support
      <%= button_to(
        "Logout of Support (#{current_support.email})",
        destroy_support_session_path,
        action: :delete, method: :delete, class: "button"
      ) %>
    </div>
  <% end %>

  <header>
    <div class="container l-v-spacing" role="banner">
      <a href="<%= root_path %>" class="logo">
        <%=
          image_pack_tag(
            "media/images/banners/discon3-header.jpg",
            alt: "DisCon III - The 79th World Science Fiction Convention",
            class: "img-responsive"
          )
        %>
      </a>
    </div>

    <div class="container">
      <%= render "layouts/alerts" %>
    </div>

    <%= render "/layouts/menu" %>
  </header>

  <div class="l-main" role="main">
    <div class="container l-wrapper">
      <%= yield %>
    </div>
  </div>

  <footer role="contentinfo">
    <div class="container l-wrapper">
      <p>Copyright (c) 2021 BWAWA, Inc. All rights reserved</p>
      <p> "World Science Fiction Society", "WSFS", "World Science Fiction Convention", "Worldcon", "NASFiC", 
      "Hugo Award", the Hugo Award Logo, and the distinctive design of the Hugo Award Trophy Rocket are 
      service marks of the World Science Fiction Society, an unincorporated literary society.</p>
      <p>  Contact <%= link_to $member_services_email, "mailto:#{$member_services_email}" %> for help with registration and this site.</p>
    </div>
  </footer>
</body>
</html>
